

.block{
  width: 100%;
  background-color: black;
  height: 58px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}


#signOut{
  float:right;
  color:white;
}


li {
  float: left;
  color:white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: #111;
}

.center {
margin: 70px;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}


.hide{
  display:none;
}

#Navigationimg{
  float:right;
}

.profile{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}







.wrapper {
  width: 50%;
  margin: 0 auto;
  background: #e7e7e7;

}

.wrapper :hover:not(.active) {
  background-color: gray;
}


.content {
  width: 60%;
  float: left;
  border: 5px solid gray;
}




.introductionOfPost
{
    height:200px;
    font-size:14pt;
}

    .postMessage {margin-bottom: 15px; }
    .image {float:left; margin-right: 10px; }
    .user {float:left; font-weight:bold; color:#009; margin-bottom: 5px; }
    .postContent { margin-left: 30px;font-style:italic; color:black; }

.reaspondOfPost
{
    height:200px;
    width:500px;
    font-size:14pt;
    padding:20px;
}

.reasondOfPost textarea {
    resize: none;
}